In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv("train.csv", encoding="ANSI")
df = df.replace("NR", 0)
df = df.drop(columns=['日期','測項','測站']).astype(float)
df.head(18)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,14.00,14.00,14.00,13.00,12.00,12.00,12.00,12.00,15.00,17.00,...,22.00,22.00,21.00,19.00,17.00,16.00,15.00,15.00,15.00,15.00
1,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,...,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80
2,0.51,0.41,0.39,0.37,0.35,0.30,0.37,0.47,0.78,0.74,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,0.20,0.15,0.13,0.12,0.11,0.06,0.10,0.13,0.26,0.23,...,0.10,0.13,0.14,0.23,0.18,0.12,0.10,0.09,0.10,0.08
4,0.90,0.60,0.50,1.70,1.80,1.50,1.90,2.20,6.60,7.90,...,2.50,2.20,2.50,2.30,2.10,1.90,1.50,1.60,1.80,1.50
5,16.00,9.20,8.20,6.90,6.80,3.80,6.90,7.80,15.00,21.00,...,11.00,11.00,22.00,28.00,19.00,12.00,8.10,7.00,6.90,6.00
6,17.00,9.80,8.70,8.60,8.50,5.30,8.80,9.90,22.00,29.00,...,14.00,13.00,25.00,30.00,21.00,13.00,9.70,8.60,8.70,7.50
7,16.00,30.00,27.00,23.00,24.00,28.00,24.00,22.00,21.00,29.00,...,65.00,64.00,51.00,34.00,33.00,34.00,37.00,38.00,38.00,36.00
8,56.00,50.00,48.00,35.00,25.00,12.00,4.00,2.00,11.00,38.00,...,52.00,51.00,66.00,85.00,85.00,63.00,46.00,36.00,42.00,42.00
9,26.00,39.00,36.00,35.00,31.00,28.00,25.00,20.00,19.00,30.00,...,36.00,45.00,42.00,49.00,45.00,44.00,41.00,30.00,24.00,13.00
10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,77.00,68.00,67.00,74.00,72.00,73.00,74.00,73.00,66.00,56.00,...,47.00,49.00,56.00,67.00,72.00,69.00,70.00,70.00,70.00,69.00
12,1.80,2.00,1.70,1.60,1.90,1.40,1.50,1.60,5.10,15.00,...,3.90,4.40,9.90,5.10,3.40,2.30,2.00,1.90,1.90,1.90
13,2.00,2.00,2.00,1.90,1.90,1.80,1.90,1.90,2.10,2.00,...,1.90,1.90,1.90,2.10,2.00,1.90,1.90,1.90,1.90,1.90
14,37.00,80.00,57.00,76.00,110.00,106.00,101.00,104.00,124.00,46.00,...,307.00,304.00,307.00,124.00,118.00,121.00,113.00,112.00,106.00,110.00
15,35.00,79.00,2.40,55.00,94.00,116.00,106.00,94.00,232.00,153.00,...,313.00,305.00,291.00,124.00,119.00,118.00,114.00,108.00,102.00,111.00
16,1.40,1.80,1.00,0.60,1.70,2.50,2.50,2.00,0.60,0.80,...,2.50,2.20,1.40,2.20,2.80,3.00,2.60,2.70,2.10,2.10
17,0.50,0.90,0.60,0.30,0.60,1.90,2.00,2.00,0.50,0.30,...,2.10,2.10,1.90,1.00,2.50,2.50,2.80,2.60,2.40,2.30

In [3]:
raw_data = df.to_numpy()
month_data = {}
for month in range(12):
    sample = np.empty([18, 480])
    for day in range(20):
        sample[:, day * 24 : (day + 1) * 24] = raw_data[18 * (20 * month + day) : 18 * (20 * month + day + 1), :]
    month_data[month] = sample

In [4]:
x = np.empty([12 * 471, 18 * 9], dtype = float)
y = np.empty([12 * 471, 1], dtype = float)
for month in range(12):
    for day in range(20):
        for hour in range(24):
            if day == 19 and hour > 14:
                continue
            x[month * 471 + day * 24 + hour, :] = month_data[month][:,day * 24 + hour : day * 24 + hour + 9].reshape(1, -1) #vector dim:18*9 (9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9)
            y[month * 471 + day * 24 + hour, 0] = month_data[month][9, day * 24 + hour + 9] #value
print(x.shape)
print(y.shape)

(5652, 162)
(5652, 1)

In [5]:
train_mean = np.mean(x, axis=0)
train_std = np.std(x, axis=0)

x = (x - train_mean) / train_std
x = np.insert(x, 0, 1, axis=1)
print(x.shape)

(5652, 163)

## Training

In [195]:
lr = 100000
reg = 0.05
epoch = 10000
eps = 1e-13
w = np.zeros([x.shape[1], 1])
adagrad = np.zeros([w.shape[0], 1])

In [196]:
def cal_loss(x, w):
    loss = 0.5 * (np.sum(np.power(np.dot(x, w) - y, 2)) + reg * np.sum(np.power(w, 2))) / x.shape[0]
    return loss

In [197]:
for t in range(epoch):
    
    gd = np.dot(x.transpose(), np.dot(x, w) - y)
    adagrad += gd ** 2
    w = w - (lr  * gd / np.sqrt(adagrad + eps) + reg * w ) / x.shape[0]
    
    if (t+1) % (epoch / 10) == 0:
        loss = cal_loss(x, w)
        print("Epoch:",t+1,":", loss)

Epoch: 1000 : 17.35537361369146
Epoch: 2000 : 16.49010685088354
Epoch: 3000 : 16.26955181671212
Epoch: 4000 : 16.197732317838028
Epoch: 5000 : 16.171365116044914
Epoch: 6000 : 16.160517479330593
Epoch: 7000 : 16.155382204317053
Epoch: 8000 : 16.15251425495114
Epoch: 9000 : 16.15063141992855
Epoch: 10000 : 16.14922622127596

## Testing

In [198]:
df_test = pd.read_csv("test.csv", header=None, encoding="ANSI")
df_test = df_test.replace("NR", 0)
df_test = df_test.drop(columns=[0,1]).astype(float)
df_test.head()

      2      3      4      5      6      7      8      9      10
0  21.00  21.00  20.00  20.00  19.00  19.00  19.00  18.00  17.00
1   1.70   1.70   1.70   1.70   1.70   1.70   1.70   1.70   1.80
2   0.39   0.36   0.36   0.40   0.53   0.55   0.34   0.31   0.23
3   0.16   0.24   0.22   0.27   0.27   0.26   0.27   0.29   0.10
4   1.30   1.30   1.30   1.30   1.40   1.60   1.20   1.10   0.90

In [199]:
test_data = []
for i in range(0, 4320, 18):
    test_data.append(df_test.iloc[i:i+18].to_numpy().flatten())

test_data = np.array(test_data)

In [200]:
test_data = (test_data - train_mean) / train_std
test_data = np.insert(test_data, 0, 1, axis=1)

In [201]:
predict = []
for i in range(test_data.shape[0]):
    predict.append(np.dot(test_data[i], w))
    
predict = np.array(predict)

In [202]:
id = []
for i in range(240):
    id.append("id_"+str(i))
id = np.array(id)

In [203]:
submit = pd.DataFrame(columns=['id', 'value'])
submit.id = id
submit.value = predict
submit.head()

     id      value
0  id_0   6.540573
1  id_1  18.171227
2  id_2  23.896967
3  id_3   7.727713
4  id_4  27.046812

In [204]:
submit.to_csv("submit.csv", header=True, index=False)